* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
}

nav {
  text-align: right;
  background: rgb(213, 213, 226);
  height: 5vh;
}
.contenedorLogo {
  width: 12vh;
  position: absolute;
}
.miLogo {
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding-right: 10px;
}

nav ul li a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  line-height: 5vh;
}

section {
  width: 80%;
  margin: 5% auto;
  min-height: 85vh;
  height: auto;
}

section article {
  width: 100%;
  text-align: center;
  margin: 5% 0;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  overflow: hidden;
}

section article img {
  width: 100%;
  opacity: 90%;
}

article .card-body {
  background-color: #fff;
}

article .card-body .card-title {
  margin-top: 10px;
}
.card-text {
  line-height: 30px;
}

footer {
  background: rgb(213, 213, 226);
}
.containerFooter {
  width: 100%;
  height: 20vh;
  background-image: url(../img/jahz.png);
  background-repeat: repeat;
  background-size: 90px 40px;
}

@media (min-width: 426px) {
  section article {
    width: 39%;
    margin: 5% 5%;
    float: left;
  }
  section {
    overflow: hidden;
    margin: 4% auto;
  }
}

@media (min-width: 769px) {
  nav ul li a:hover {
    text-decoration: underline;
    font-size: 1.5rem;
  }

  section article {
    width: 22%;
    margin: 5% 1%;
  }

  nav {
    text-align: center;
  }
  section {
    margin: 1% auto;
  }
}
